.App {
  text-align: center;
}

p {
  font-family: helvetica;
  font-size: 22px
}

body {
  text-align: center;
  border: black solid 1px;
  margin:10px;
}

.more-button {
  background-color: lightblue;
  border-radius: 5px;
  border: black solid 2px;
  padding: 5px 10px;
  margin-bottom: 10px;
}
